@page
    <div class="row">
        <div id="data">

        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr-data-receiver.js"></script>